*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 80px;
}
h1,
h2,
h3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
ul li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #56261a;
  transition: all 0.5s;
}
li a:hover {
  background-color: #dc853d;
  padding: 0 30px;
  color: #fff;
}
.align {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .align {
    flex-direction: column;
  }
}

.meniu ul {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 450px) {
  .meniu ul {
    width: 300px;
    gap: 10px;
  }
}
.img-titlu {
  transition: all 0.5s;
}
.img-titlu:hover {
  opacity: 0.83;
}
.titlu {
  margin: 30px 0 30px 0;
  color: #dc853d;
}
@media screen and (max-width: 768px) {
  img.img-titlu {
    max-width: 600px;
  }
}
@media screen and (max-width: 450px) {
  img.img-titlu {
    max-width: 325px;
  }
}
.blockquote {
  background-color: #dc853d;
  padding: 0 30px 30px 30px;
}
.body {
  display: flex;
  justify-content: center;
  gap: 100px;
  line-height: 1.5;
}
cite {
  font-weight: 600;
  color: #56261a;
}
.btn {
  padding: 10px 25px;
  border: 2px solid #56261a;
  border-radius: 10px;
  background-color: #dc853d;
}
.btn a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 600;
}
.btn {
  position: absolute;
  top: 700px;
  right: 720px;
}
@media screen and (max-width: 450px) {
  .btn {
    position: absolute;
    top: 1100px;
    right: 660px;
  }
}
